*{
    /* background-color: #fff1d7; */
    margin: 0%;
}

/*  topmost div  */

.alert-div{
    align-items: center;
    display: flex ;
    flex-direction: row ;
    justify-content: space-between;
    padding: 10px;
    background-color: #ba55d3;

}

.left-list{
    flex: 1 ;
    display: flex;
    flex-direction: row;
    list-style-type: none;

}
.left-list-item{
    margin-left: 5px;
    margin-right: 5px;
}



.center-alert-div{
    flex: 2;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

.right-list{
    flex: 1;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
    display: flex;
    justify-content: end;

}

.right-list-item{
    margin-left: 5px;
    margin-right: 10px;
}

.alert-btn{
    padding: 10px;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.alert-btn:hover{
    background-color: white;
    color: black;
}



/*  Navbar STyle */
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 5px;
    position: sticky;
    top: 0px;

}

.brand-div{
    flex: 1;
    margin-left: 20px;
}

.phonie{
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
    font-weight: bolder;
    color: purple;
}

.center-item{
    flex: 2;
    flex-direction:     row;
    display: flex;
    list-style-type: none;
    text-align: center;
    color: red;
    font-size: 20px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: space-evenly;
}
.center-list-item{
    text-decoration: none;
}
.right-navbar{
    flex: 1;
}


/* Home Main div */

.home-div{
    background-color: #ba55d3;
 
}

.home-wrapper{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
   max-width:80%;
   
   margin: 0;
   margin: auto;
}

.text-div{
    flex: 1;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
}

.main-text{
    font-family: 'Bree Serif', serif;
    font-size: 62px;
}

.img-div{
    flex: 1;
}

.img1{
    width: 32%;
}




.text2{
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
    color: rgb(208, 185, 154);
}

.hr{
 
    width: 10%;
    border: 2px solid black;
}


/* Services */

.services{
    margin-top: 50px;
    background-color: rgb(218, 203, 203);
    padding-top: 10px;
}



.services-wrapper{
    max-width: 80%;
    margin: auto;
}

.top-div{
    line-height: 35px;

}



.serv-para, .lorem{
    font-size: 17px;
    font-weight: 200;
    font-family: cursive;
}

.exclusive{
    font-size: 30px;
    font-weight: 800;
    color: rgb(245, 153, 33);
  font-family: sans-serif;

}

/* service Cards */

.card-item{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    list-style-type: none;
}

.card-list{
    width: 25%;
    background-color: white;
    margin: 10px;
}

.card-list-div{
    display: flex;
    flex-direction: column;
    align-items: center;
        line-height: 30px;
        padding: 10px;
}

.card-title{
    font-weight: 900;
    font-size: 20px;
}

.card-text{
    padding: 5px;
    text-align: center;
}

.card-img{
    margin-top: 10px;
    margin-bottom: 10px;
 
    width: 60px;
}

.card-text::first-letter{
    margin-left: 10px;
}


/* Footer  */
footer{
    background-color: black;
    padding: 10px;
}

.footer-wrapper {
    width: 80%;
    margin: auto;
  
    display: flex;
    color: white;
    flex-direction: row;
}

.about-div{
    flex: 1;
    padding: 10px 10px;
    line-height: 25px;
}

.about-h3{
    color: #ba55d3;
    font-weight: 900;
    margin-bottom: 10px;
    font-size: 22px;
}

.imp-div{
    flex: 1;
    text-align: center;
}

.about-info{
    flex: 1;
    text-align: right;
}