*{
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    /* display: grid;
    place-items: center; */
    /* text-align: center; */
	background: #0f1423;
}

:root {
    --primary-color : rgb(116, 6, 116);
    --secondary-color: rgb(266,266,266);
    --shadow: 2px 2px 3px rgba(0,0,0,0.7), -2px -2px 3px rgba(255,255,255,0.2);
    --radius : 5px;
}
/*  topmost div  */

.alert-div{
    align-items: center;
    display: flex ;
    flex-direction: row ;
    justify-content: space-between;
    padding: 10px;
    background-color: #ba55d3;

}

.left-list{
    flex: 1 ;
    display: flex;
    flex-direction: row;
    list-style-type: none;

}
.left-list-item{
    margin-left: 5px;
    margin-right: 5px;
}



.center-alert-div{
    flex: 2;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

.right-list{
    flex: 1;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
    display: flex;
    justify-content: end;

}

.right-list-item{
    margin-left: 5px;
    margin-right: 10px;
}

.alert-btn{
    padding: 10px;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.alert-btn:hover{
    background-color: white;
    color: black;
}

/* main container */

.main-container {
    margin: auto 5px;
    line-height: 1.4;
    display: Grid;
    gap: 20px;
}

/*  Navbar STyle */
.navbar{
    background-color: var(--secondary-color);
    margin: 10px;
    /* position: relative; */
    display: grid;
    align-items: center;
    /* justify-content: flex-start; */
    grid-template-columns: 1fr 1.2fr;
    margin: 0px;

}



.phonie-logo{
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
    font-weight: bolder;
    color: var(--primary-color);
    margin-left: 20px;

}

.nav-items{
    /* flex: 2;
    flex-direction: row;
    display: flex; */

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style: none;
    padding: 0;
    text-align: start;
    /* justify-content: space-around; */
    /* font-size: 20px; */
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* justify-content: space-evenly; */
    margin: 0px;
}
.nav-items a {
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    display: block;
    font-size: 1.1rem;
    padding: 0.8rem;
    border-radius: var(--radius);
    /* margin: auto 5px; */
}

.nav-items a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


/* Home Main div */

.home-div{
    background-color: var(--primary-color);
    color:var(--secondary-color);
 
}

.home-wrapper{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}


.text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}

.main-text{
    font-family: 'Bree Serif', serif;
    font-size: 62px;
    margin-left: 20px;
    
}



.img1{
    width: 18.75rem;
    position: relative;
    top: 10%;
}

.img2{
    position: relative;
    left: 10%;
    width: 10rem;
}


.text2{
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
    color: rgb(208, 185, 154);
    margin-left: 20px;
}

.hr{
 
    width: 10%;
    border: 2px solid black;
}


/* Services */

.services{
    margin-top: 50px;
    background-color: rgb(218, 203, 203);
    padding-top: 10px;
}



.services-wrapper{
    max-width: 80%;
    margin: auto;
}

.top-div{
    line-height: 35px;

}



.serv-para, .lorem{
    font-size: 17px;
    font-weight: 200;
    font-family: cursive;
}

.exclusive{
    font-size: 30px;
    font-weight: 800;
    color: rgb(194, 114, 11);
    font-family: sans-serif;

}

/* service Cards */
.services-wrapper{
    text-align: center;
}
.card-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
    margin-bottom: 20px;;
}

.card-list{
    display: grid;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    justify-items: center;
    padding: 1.1rem;
    box-shadow: var(--shadow);
    border-radius: var(--radius);
}

.card-list-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
    padding: 10px;
}

.card-title{
    font-weight: 900;
    font-size: 20px;
}

.card-text{
    padding: 5px;
    text-align: center;
}

.card-img{
    margin-top: 10px;
    margin-bottom: 10px;
 
    width: 60px;
}

.card-text::first-letter{
    margin-left: 10px;
}


/* Footer  */
footer{
    background-color: black;
    padding: 10px;
}

.footer-wrapper {
    width: 80%;
    margin: auto;
  
    display: flex;
    color: var(--secondary-color);
    flex-direction: row;
}

.about-div{
    flex: 1;
    padding: 10px 10px;
    line-height: 25px;
}

.about-h3{
    /* color: var(--primary-color); */
    color: var(--secondary-color);

    font-weight: 900;
    margin-bottom: 10px;
    font-size: 22px;
}

.imp-div{
    flex: 1;
    text-align: center;
}

.about-info{
    flex: 1;
    text-align: right;
}


/* Main App Styling */


.phonie-container {
    text-align: center;
    margin: 10% auto;
	background: #191c2d;
	box-shadow: var(--shadow);
    border-radius: var(--radius);
    font-family: cursive;

}

.phonie-container h2 {
    font-size: 32px;
    margin: 30px 0px;
    color: var(--primary-color);
}

.user-details {
    outline:none;
    height: 55px;
	width: 450px;
    font-size: 26px;
    font-weight: 600;
    padding: 0 20px;
    margin: 20px 0px 5px;
    border: 3px solid var(--primary-color);
    border-radius: var(--radius);
    text-align: center;
    color: var(--primary-color);
    background: transparent;
}

#first-name {
    height: 45px;
	width: 300px;
    font-size: 20px;

}

.phonie-container h5 {
    color: rgb(141, 137, 137);
    font-style: italic;
    padding-left: 25px;
    height: 20px;
	width: 500px;
	margin: 0px 30px 20px;
}


.search{
    outline: none;
    cursor: pointer;
    border: none;
    height: 50px;
	width: 450px;
    background-color: var(--primary-color);
    color: #0f1423;
    font-size: 20px;
    font-weight: 700;
	margin: 20px 5px;
    padding: 0px 20px;
    border-radius: var(--radius);

}


/* Media Query for Ipads, Tabs & Mobile phones */
@media (max-width: 768px) {
    .navbar{
        grid-template-columns: 1fr;
        text-align: center;
        padding-top: 10px;
    }
    .nav-items {
        grid-template-columns: 1fr;
    }
    .navbar ul {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 10px;
    }

    /* .img1{
        visibility: hidden;
    } */
    .img2{
        /* display: none; */
        visibility: hidden;
    }
    .text-div {
        /* position: absolute; */

        /* display: grid; */
        /* top: 20px; */
        /* text-align: center; */
        align-items: center;
        /* justify-content: center; */
        bottom: 20%;

    }

    .main-text{
        text-align: center;
    }
}